In [2]:
# Challenge 3: Create a layer to draw the route to for cities

import pandas as pd
import requests
import gmaps
from config import g_key

In [3]:
gmaps.configure(api_key=g_key)

In [5]:
vacation_df = pd.read_csv("data/WeatherPy_Vacation.csv")

In [6]:
vacation_df.head(5)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,naze,JP,84.20,28.37,129.48,奄美ポートタワーホテル
1,1,den helder,NL,61.00,52.96,4.76,Hotel Den Helder
2,2,karakol,KG,71.29,42.49,78.39,"Gostinitsa ""Al'tamira"""
3,5,cherskiy,RU,62.83,68.75,161.30,Gostinitsa
4,6,geraldton,AU,77.00,-28.77,114.60,Broadwater Mariner Resort

In [7]:
# Add hotel marks to the map
info_box_template = """
<dl>
<dt>Hotel Name</dt>
<dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""

hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# Determine contents to be shown on map, display the map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Create the four city itinerary
vacation_start = vacation_df.loc[vacation_df["City"] == "bose"]
vacation_end = vacation_df.loc[vacation_df["City"] == "pamplona"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "bereda"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "aljezur"]

In [12]:
# Store the coordinates of the itinerary
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(45.46, 8.01)
(42.82, -1.64)
(43.27, -7.54)
(37.32, -8.8)

In [14]:
# Set up the map
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2],
    travel_mode="DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Build a dataframe with the stops
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_end])
itinerary_df

     City_ID      City Country  Max Temp    Lat   Lng            Hotel Name
343      504      bose      IT     68.00  45.46  8.01  Locanda Borgo Antico
82       128    bereda      ES     52.00  43.27 -7.54        Pazo de Verdes
216      319   aljezur      PT     64.99  37.32 -8.80        Amazigh Hostel
342      502  pamplona      ES     53.60  42.82 -1.64          Hotel Albret

In [19]:
# Get rid of the index value
itinerary_df.reset_index(drop=True)

   City_ID      City Country  Max Temp    Lat   Lng            Hotel Name
0      504      bose      IT     68.00  45.46  8.01  Locanda Borgo Antico
1      128    bereda      ES     52.00  43.27 -7.54        Pazo de Verdes
2      319   aljezur      PT     64.99  37.32 -8.80        Amazigh Hostel
3      502  pamplona      ES     53.60  42.82 -1.64          Hotel Albret

In [20]:
# Determine data to display in info boxes
info_box_template = """
<dl>
<dt>Hotel Name</dt>
<dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""

hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat", "Lng"]]

In [21]:
# Determine contents to be shown on map, display the map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))